/* header section style */
.header-container {
  background-image: url("/Assets/Hero-bg.png");
  padding-bottom: 152px;
}
.nav-container {
  max-width: 1140px;
  max-height: 151px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 51px 0px;
}
.nav-container h1 {
  color: #4e47ff;
  font-weight: bold;
  font-size: 2em;
}
.header-body {
  max-width: 905px;
  max-height: 237px;
  margin: auto;
  margin-top: 158px;
  text-align: center;
}

/* main section styles */
.main-container {
  margin: 156px 0;
}
.action-container {
  max-width: 1140px;
  max-height: 328px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-info h2 {
  font-weight: bold;
}
.action-info p {
  opacity: 60%;
}
.action-image {
  max-width: 403px;
  max-height: 328px;
  border-radius: 48px;
}

.productive-user-container {
  max-width: 1140px;
  max-height: 306px;
  margin: auto;
  margin-top: 116px;
  margin-bottom: 137px;
  background-color: rgba(77, 71, 255, 0.104);
  border-radius: 10px;
}
.productive-user {
  text-align: center;
  padding: 50px 0;
}
.productive-user-info-container {
  display: flex;
  justify-content: space-around;
}
.productive-user-info h2 {
  font-size: xx-large;
  color: #4e47ff;
  font-weight: bold;
}
.productive-user-info span {
  opacity: 60%;
}
/* shared css */
.btn-primary {
  background-color: #4e47ff;
  color: white;
  font-weight: bold;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
}
